CONFIG_TARGET_ar71xx=y
CONFIG_TARGET_ar71xx_generic=y
CONFIG_TARGET_ar71xx_generic_Default=y
CONFIG_DEVEL=y
CONFIG_TOOLCHAINOPTS=y
CONFIG_ATH_USER_REGD=y
CONFIG_IB=y
CONFIG_IMAGEOPT=y
# CONFIG_KERNEL_DEBUG_INFO is not set
# CONFIG_KERNEL_DEBUG_KERNEL is not set
# CONFIG_KERNEL_KALLSYMS is not set
CONFIG_OPENVPN_polarssl_ENABLE_LZO=y
CONFIG_OPENVPN_polarssl_ENABLE_SMALL=y
CONFIG_PACKAGE_6in4=m
CONFIG_PACKAGE_6to4=m
CONFIG_PACKAGE_ATH_DFS=y
CONFIG_PACKAGE_ethtool=m
CONFIG_PACKAGE_horst=m
CONFIG_PACKAGE_ip=m
CONFIG_PACKAGE_iperf=m
CONFIG_PACKAGE_iptables-mod-conntrack-extra=m
CONFIG_PACKAGE_iptables-mod-filter=m
CONFIG_PACKAGE_iptables-mod-ipopt=m
CONFIG_PACKAGE_iwinfo=m
CONFIG_PACKAGE_kmod-crypto-crc32c=m
CONFIG_PACKAGE_kmod-crypto-hash=m
CONFIG_PACKAGE_kmod-ifb=m
CONFIG_PACKAGE_kmod-ipip=m
CONFIG_PACKAGE_kmod-ipt-conntrack-extra=m
CONFIG_PACKAGE_kmod-ipt-filter=m
CONFIG_PACKAGE_kmod-ipt-ipopt=m
CONFIG_PACKAGE_kmod-iptunnel=m
CONFIG_PACKAGE_kmod-iptunnel4=m
CONFIG_PACKAGE_kmod-lib-crc16=m
CONFIG_PACKAGE_kmod-lib-crc32c=m
CONFIG_PACKAGE_kmod-lib-textsearch=m
# CONFIG_PACKAGE_kmod-ppp is not set
CONFIG_PACKAGE_kmod-sched-connmark=m
CONFIG_PACKAGE_kmod-sched-core=m
CONFIG_PACKAGE_kmod-sit=m
CONFIG_PACKAGE_kmod-tun=m
CONFIG_PACKAGE_libevent2=m
CONFIG_PACKAGE_libiwinfo=m
CONFIG_PACKAGE_libiwinfo-lua=m
CONFIG_PACKAGE_libltdl=m
CONFIG_PACKAGE_liblua=m
CONFIG_PACKAGE_liblzo=m
CONFIG_PACKAGE_libncurses=m
CONFIG_PACKAGE_liboping=m
CONFIG_PACKAGE_libpcap=m
CONFIG_PACKAGE_libpolarssl=m
CONFIG_PACKAGE_libpthread=m
CONFIG_PACKAGE_librrd1=m
CONFIG_PACKAGE_librt=m
CONFIG_PACKAGE_libssp=m
CONFIG_PACKAGE_libubus-lua=m
CONFIG_PACKAGE_libuci-lua=m
CONFIG_PACKAGE_libustream-polarssl=m
CONFIG_PACKAGE_lua=m
CONFIG_PACKAGE_mtr=m
CONFIG_PACKAGE_openvpn-polarssl=m
# CONFIG_PACKAGE_ppp is not set
CONFIG_PACKAGE_px5g=m
CONFIG_PACKAGE_qos-scripts=m
CONFIG_PACKAGE_rrdtool1=m
CONFIG_PACKAGE_rssileds=m
CONFIG_PACKAGE_tc=m
CONFIG_PACKAGE_tcpdump=m
CONFIG_PACKAGE_tcpdump-mini=m
CONFIG_PACKAGE_terminfo=m
CONFIG_PACKAGE_tmux=m
CONFIG_PACKAGE_uclibcxx=m
CONFIG_PACKAGE_uhttpd=m
CONFIG_PACKAGE_uhttpd-mod-tls=m
CONFIG_PACKAGE_uhttpd-mod-tls_polarssl=y
CONFIG_PACKAGE_uhttpd-mod-ubus=m
CONFIG_PACKAGE_vnstat=m
CONFIG_PACKAGE_zlib=m
CONFIG_SDK=y
CONFIG_SSP_SUPPORT=y
CONFIG_VERSIONOPT=y
CONFIG_VERSION_DIST="Freifunk Berlin"
CONFIG_VERSION_HWREV=""
CONFIG_VERSION_MANUFACTURER=""
CONFIG_VERSION_NICK="kathleen"
CONFIG_VERSION_NUMBER="0.1.1-alpha"
CONFIG_VERSION_PRODUCT=""
CONFIG_VERSION_REPO="http://buildbot.berlin.freifunk.net/buildbot/stable/%V/%T/packages"
# CONFIG_OPENVPN_polarssl_ENABLE_DEF_AUTH is not set
# CONFIG_OPENVPN_polarssl_ENABLE_FRAGMENT is not set
# CONFIG_OPENVPN_polarssl_ENABLE_HTTP is not set
# CONFIG_OPENVPN_polarssl_ENABLE_MULTIHOME is not set
# CONFIG_OPENVPN_polarssl_ENABLE_PF is not set
# CONFIG_OPENVPN_polarssl_ENABLE_PORT_SHARE is not set
# CONFIG_OPENVPN_polarssl_ENABLE_SERVER is not set
# CONFIG_OPENVPN_polarssl_ENABLE_SOCKS is not set
CONFIG_PACKAGE_kmod-lib-crc-ccitt=y
CONFIG_BUILD_LOG=y
CONFIG_PACKAGE_RPCD=m
